NeuraLetter Suite_ Workflow - Automate Hyper-Personalized B2B Outreach from CSV using AI.json
{
  "name": "NeuraLetter Suite: Workflow - Automate Hyper-Personalized B2B Outreach from CSV using AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 55
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        832,
        608
      ],
      "id": "97c117a5-8ca9-4fc3-88b8-ae062e8ce510",
      "name": "Schedule Trigger",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.is_sent }}",
                    "rightValue": "=FALSE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "110088cc-1766-4949-b133-7bf98296bcd0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2032,
        608
      ],
      "id": "378dd231-519d-41b8-983a-a1d4a8436641",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2272,
        1440
      ],
      "id": "df91ec6f-dc68-4a41-984a-4ab6f4e514c7",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "# NeuraLetter Suite: Workflow\n## Automate Hyper-Personalized B2B Outreach from CSV using AI\nQuestions? Visit [NeuraLetter.com](https://neuraletter.com) website or reach out via forum: [Node](https://community.n8n.io/u/node/summary)\n",
        "width": 816,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        0
      ],
      "typeVersion": 1,
      "id": "dcf30121-5a48-4f12-b89e-6eb4a7402200",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fileSelector": "/home/user/Desktop/neuraletter_suite_scrap.CSV",
        "options": {
          "fileName": "={{ $('Pick One Row').item.json['Company Name'] }}"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3200,
        608
      ],
      "id": "1c6a211e-27db-4ebe-867f-c419a702fdcb",
      "name": "Get E-mail attachment"
    },
    {
      "parameters": {
        "content": "## 💾 File Update Operations\nUpdates the CSV to mark the current lead as `is_sent=TRUE` to prevent duplicate emails.\n### **Setup:**\n**Write CSV To Disk:** Ensure the file path/name is **IDENTICAL** to the \"File Reading\" section.\n\n**DO NOT MODIFY THE FIRST TWO NODES!**",
        "height": 592,
        "width": 736,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        1008
      ],
      "typeVersion": 1,
      "id": "7e728138-9c31-46da-806b-4af39de16b2b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// All the data\nconst items = $input.all();\n\n// Iterate over all the data\nfor (let i = 0; i < items.length; i++) {\n  if (items[i].json.sent === 'FALSE') {\n    items[i].json.sent = 'TRUE'\n    return items;\n  }\n}\nreturn [];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        1440
      ],
      "id": "ced3c137-8e9c-49bc-bb24-f86296c5562e",
      "name": "Set FALSE to TRUE used rows"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/user/Desktop/neuraletter_suite_scrap.CSV",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2496,
        1440
      ],
      "id": "91af0ad8-5575-4217-8518-472b8e7d7904",
      "name": "Write CSV To Disk"
    },
    {
      "parameters": {
        "content": "## 📂 File Reading Operations\nReads your CSV, filters for `is_sent=FALSE`, and picks the next lead to contact.\n### **Setup:**\n1. **Read CSV File From Disk:** Input your file name and directory.\n2. **Extract From File:** These nodes automatically filter out already sent emails. Do NOT modify this node, but if fails, check your CSV file or previous node settings.\n3. **Switch:** Filters whole list as equal to is_sent=FALSE in \"Switch\" node.\n4. **Pick One Row:** Selects the single lead to process in this run. Do NOT modify this node.",
        "height": 592,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        176
      ],
      "typeVersion": 1,
      "id": "15a45db5-460c-4880-96f0-eeb045d91d4d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": "={{ $json.randomNum }}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        608
      ],
      "id": "543e5dae-6bfb-47d8-990f-07c15deaff42",
      "name": "Wait",
      "webhookId": "21d7b994-6ecd-43ca-9e44-a6e46a623ef8"
    },
    {
      "parameters": {
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1792,
        608
      ],
      "id": "e3fe45ef-ca1c-420a-bcbd-d6911fcba151",
      "name": "Extract from File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "# 🚀 Before Running the Workflow\n\nThis workflow automates hyper-personalized dynamic outreach. Please ensure you complete the following critical steps before activation:\n\n### 1. Data Preparation (CSV File)\n- **Basic Columns:** Your CSV file must contain the following columns: `Company Name`, `Email`, and `About`.\n- **Status Column:** A column named `is_sent` is **mandatory** for preventing duplicate sending.\n    * **Action:** Open your CSV file, create the `is_sent` column, and fill all its rows with the value `FALSE`.\n    * **Final:** Save the file in the `.CSV` format.\n\n### 2. Credentials & Setup\n- **API Keys:** You require two sets of credentials:\n    1.  **AI Service:** Your API Key for your chosen AI provider (e.g., OpenAI).\n    2.  **Email Service:** Credentials for your email sending method (e.g., Gmail OAuth2 or SMTP details).\n- **N8N Knowledge:** Basic familiarity with the n8n interface is recommended.\n\n### 3. Workflow Configuration\n- **Follow Guides:** Configure the nodes by strictly following the **Section Headings** and guides provided in the sticky notes for a comfortable and accurate setup.\n- **Default Configuration:** All nodes (except for credentials and placeholders) are already pre-configured with the necessary settings, allowing you to focus only on adding your personal information and API keys.\n- **Testing:** After setup is complete, **TEST THE ENTIRE WORKFLOW** by sending emails to your own test accounts first.",
        "height": 592,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        176
      ],
      "typeVersion": 1,
      "id": "9b70b76e-d0a3-47c3-80c1-b24210533932",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## 🤖 AI Generation\nGenerates personalized content and subject lines. Both nodes are needed to choose the AI model. Click on the plus (+) icon below the both nodes and choose your favorite AI.\n### **Setup:**\n1. **Credentials:** Double-click the AI nodes to add your API Key.\n2. **Prompts:** Open the nodes and replace the `[bracketed text]` with your product details.\n*Feel free to customize the system messages and prompts to fit your needs.*",
        "height": 592,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        176
      ],
      "typeVersion": 1,
      "id": "0835b2ee-39f9-47eb-8ee1-b62fe72cf32f",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "toEmail": "={{ $('Pick One Row').item.json.Email }}",
        "subject": "={{ $('AI for generate email subject').item.json.output }} for {{ $('Pick One Row').item.json['Company Name'] }}",
        "html": "=<p style=\"margin: 1rem; font-family: Arial, Helvetica, sans-serif; font-size: 15px; line-height: 1.4;\">\n{{ $('AI for generate email content').item.json.output }}\n</p>",
        "options": {
          "appendAttribution": false,
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3440,
        608
      ],
      "id": "b3ea2dd4-47a9-45d6-9cea-17c255be1aa6",
      "name": "Send email",
      "webhookId": "6c3ca0a5-54f2-44cc-9300-a504868540d9"
    },
    {
      "parameters": {
        "jsCode": "const minimumTime = 0;\nconst maximumTime = 50;\n\nfunction fisherYatesNumber(min, max) {\n  const numbers = [];\n  for (let i = min; i <= max; i++) {\n    numbers.push(i);\n  }\n\n  for (let i = numbers.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [numbers[i], numbers[j]] = [numbers[j], numbers[i]];\n  }\n\n  return numbers[0];\n}\n\nconst randomNum = fisherYatesNumber(minimumTime, maximumTime);\n\nreturn [\n  {\n    json: {\n      randomNum\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        608
      ],
      "id": "c7212d2e-5164-44ac-b56d-4645c7068070",
      "name": "Random Time Generator"
    },
    {
      "parameters": {
        "fileSelector": "/home/user/Desktop/neuraletter_suite_scrap.CSV",
        "options": {
          "fileExtension": "csv",
          "fileName": "neuraletter_suite_scrap.CSV"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1536,
        608
      ],
      "id": "ffd10e22-e97b-409f-a987-212cafcd7338",
      "name": "Read CSV File from Disk"
    },
    {
      "parameters": {
        "jsCode": "return [ { json: $input.first().json } ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        608
      ],
      "id": "3c15f2e2-cf35-4b3d-b2c0-aebc5f8eadee",
      "name": "Pick One Row"
    },
    {
      "parameters": {
        "content": "## ⏳ Timing\nWith these 3 nodes, we are setting time gap between our mails and imitating human behavior to bypass spam and bot detection systems.\n### **Setup:**\n1. **Schedule Trigger:** Set your desired interval (e.g., 55 min).\n2. **Random Generator:** Set `maximumTime` (e.g., 50 min) to define the variability limit.\n3. **Wait:** Ensure it is set to pause for that random duration.",
        "height": 592,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        176
      ],
      "typeVersion": 1,
      "id": "914fd5a9-98b0-4bba-83e7-d256ab92e69b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Do NOT modify!",
        "height": 208,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        544
      ],
      "typeVersion": 1,
      "id": "30c07c9f-81b9-49d9-aa86-9e700db8a5fd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Do NOT modify!",
        "height": 208,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        544
      ],
      "typeVersion": 1,
      "id": "091c2809-2cd3-4734-90eb-0e03140a2d2b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## ✉️ Send Email\nHandles file attachments (optional) and sends the final email via SMTP.\n### **Setup:**\n1. **Attachment:** Set file path if needed, otherwise remove/bypass this node.\n2. **Send Email:** Map the AI outputs (Subject/Body) and Recipient Email into the fields.\n\n*Reminder: Don't forget to configure the final step below!*",
        "height": 592,
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3136,
        176
      ],
      "typeVersion": 1,
      "id": "cd2cf5c0-a981-480d-bf92-6a8da5003b63",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=About us [or \"our product\"]:\n```\n[Enter your own company \"about\" text or your product features/information you want to sell here.]\n```\nAbout {{ $json['Company Name'] }}:\n```\n{{ $json.About }}\n```",
        "options": {
          "systemMessage": "=You're an expert B2B Copywriter and Sales Specialist. Using company and product information gathered from the user, you'll create personalized emails using formal, \"I\" language.\n\nYour emails should be professional, fluid, and persuasive. Always use a positive tone and avoid unnecessary details. Accurately integrate all the information provided by the user.\n\nInstructions:\n1. LANGUAGE: Analyze the \"About {{ $json['Company Name'] }}\" text. Write the email in the EXACT SAME language used in that text (e.g., if German, write in German).\n2. THE BRIDGE: Do not just list features. Specifically explain how the \"About us/product\" information solves a problem implied in the \"About {{ $json['Company Name'] }}\" text.\n3. TONE: Professional, fluid, \"I\" language (e.g., I noticed, I believe), and conversational.\n4. SPAM FILTER: STRICTLY AVOID spam-trigger words like \"free\", \"guarantee\", \"100%\", \"buy now\", \"urgent\".\n5. FORMAT:\n   - Start with a salutation appropriate to the detected language (e.g., \"Dear {{ $json['Company Name'] }},\").\n   - Max 2 short paragraphs (~150 words).\n   - Use the <br><br> tag for line breaks instead of \"\\n\".\n6. CLOSING: End with a soft call to action (e.g., \"Worth a chat?\") and sign off respectfully.\n   Finally, write the sender's name: [Add your first name and last name here]\n\nRemember: Do not write anything other than the email content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2496,
        608
      ],
      "id": "eb072711-47a2-41e2-a58c-42df72eb140c",
      "name": "AI for generate email content"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=In what language is this text written:\n```\n{{ $('Pick One Row').item.json.About }}\n```",
        "options": {
          "systemMessage": "=You are an AI Email Subject Line Strategist. Your single task is to generate a highly compelling, personalized email Subject Line based on the detected language and the provided product niche.\n\nInstructions:\n1. LANGUAGE: Detect the language of the incoming text.\n2. PERSONALIZATION: The Subject Line must incorporate the target company's name or a direct reference to their business area (derived from the \"About\" text).\n3. TONE: Professional and curiosity-inducing.\n4. SPAM FILTER: The output must NOT use promotional or spam-trigger words (e.g., \"free,\" \"urgent,\" \"guarantee\").\n5. OUTPUT: Translate the following Subject Line template into the detected language, tailoring it to the company's context: \"Quick Question for [Company Name] about [Product Niche/Topic]\"\n\nREMEMBER: You will write NOTHING other than the final Subject Line text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2848,
        608
      ],
      "id": "ac26fa46-1af2-4e47-a18e-2eeb23d9ce24",
      "name": "AI for generate email subject"
    },
    {
      "parameters": {
        "content": "## Do NOT modify this two nodes!",
        "height": 208,
        "width": 464,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        1376
      ],
      "typeVersion": 1,
      "id": "756d7478-fbd8-4a75-91ec-2202c8061b3e",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Random Time Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Pick One Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Write CSV To Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get E-mail attachment": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set FALSE to TRUE used rows": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Read CSV File from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Set FALSE to TRUE used rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Time Generator": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV File from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick One Row": {
      "main": [
        [
          {
            "node": "AI for generate email content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI for generate email content": {
      "main": [
        [
          {
            "node": "AI for generate email subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI for generate email subject": {
      "main": [
        [
          {
            "node": "Get E-mail attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b85cb720-8b47-47ab-987a-3305314cf368",
  "meta": {
    "instanceId": "4aba203aa337befae280dc70e0feea11169c349863121aa91f66a5b19073c76a"
  },
  "id": "uLxJPoW3BtNa4bMc",
  "tags": []
}